.cover__link {
    max-width: 1184px;
    min-height: 740px;
    object-fit: cover;

    margin: 0 auto 92px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    text-decoration: none;

    background: url(../../../images/__background.jpg) center no-repeat;
    background-size: cover;

    position: relative;
}

.cover__link::after {
    content: " ";

    background-color: rgba(42, 44, 47, .3);

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transition: background-color .3s;
}

.cover__link:hover::after {
    background-color: rgba(42, 44, 47, .8);;
}

@media (max-width: 1200px) {
    .cover__link {
        width: 100%;
        min-height: 640px;
    }
}

@media (max-width: 1000px) {
    .cover__link {
        width: 100%;
        min-height: 480px;
        margin: 0 auto 88px;
    }
}

@media (max-width: 750px) {
    .cover__link {
        width: 100%;
        min-height: 300px;
        margin: 0 auto 64px;
    }
}

@media (max-width: 450px) {
    .cover__link {
        width: 100%;
        min-height: 200px;
        margin: 0 auto 64px;
    }
}