.places {
    display: flex;
    flex-direction: column;
    gap: 80px;

    max-width: 1280px;
    margin: 0 auto 92px;

    align-items: center;
}

@media (max-width: 1200px) {
    .places {
        max-width: 100%;
        margin: 0 48px 92px;
    }
}

@media (max-width: 1000px) {
    .places {
        margin: 0 24px 92px;
        gap: 73px;
    }
}

@media (max-width: 750px) {
    .places {
        margin: 0 0 66px;
        gap: 50px;
    }
}