.lead {
    width: calc(1280px - 148px * 2);
    margin: 0 auto 92px;
}

@media (max-width: 1200px) {
    .lead {
        width: calc(100% - 48px * 2);
    }
}

@media (max-width: 1000px) {
    .lead {
        width: 100%;
        margin: 0 auto 88px;
    }
}

@media (max-width: 750px) {
    .lead {
        margin: 0 auto 64px;
    }
}