.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;

    max-width: 720px;
    margin: 0 auto 32px;
    padding: 0;

    text-align: center;
}

@media (max-width: 1200px) {
    .lead__title {

    }
}


@media (max-width: 750px) {
    .lead__title {
    max-width: 288px;

    margin-bottom: 16px;
    
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;

    text-align: center;
    }
}